*{
    margin:0;
    padding: 0;
    font-family:sans-serif;
    box-sizing:border-box;
}
body{
    background-color:#FFBF00;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
#container{
    /* height:50vh; */
    width:400px;
    background-color: #ffffff;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:4px 4px 80px rgba(0,0,0,0.2);
}
#title{
    font-size:16px;
    margin-bottom:10px;
}
#inputDiv{
    padding:10px 0;
}
input{
    width:80%;
    padding:10px;
    border:1px solid #1c2833;
    border-radius:5px;
    font-size:14px;
}
#imgBox{
    display:none;
    margin-top:10px;
}
#imgQR{
    width:200px;
    height:200px;
    border:1px solid black;
}
#btnDiv{
    margin-top:10px;
}
button{
    background-color: #1c2833;
    color:#ffffff;
    font-weight:600;
    padding:10px;
    border-radius:10px;
    border:none;
    cursor:pointer;
    font-size:14px;
    width:80%;
}
button:hover{
    background-color: #34495e;
}

nav{
    height:10%;
    width:100vw;
    margin-top:0;
    padding-top:0;
}